.header{
	font-size:60px;
	font-weight:600;
	color:#6B240C;
	text-align:center;
	font-family: 'Poppins', sans-serif;
	justify-content: space-between;
	align-items: center;
	display: flex;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 100px;
}

nav a {
  text-decoration: none;
  color: #435585;
  font-weight: bold;
  font-size:20px;
  transition: color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

nav a:hover {
  color: #F5E8C7; 
}

h2{
	color:#E48F45;
	font-family: 'Poppins', sans-serif;
	text-align:center;
}


.about-h{
	font-size:60px;
	font-weight:600;
	color:#6B240C;
	text-align:center;
	font-family: 'Poppins', sans-serif;
	animation: blinker 1s infinite;

}	
@keyframes blinker {
	50% {
	     opacity: 0;
		}
		}
		
.text{
	color:#994D1C;
	font-family: 'Poppins', sans-serif;
	text-align:center;
	font-size:25px;
}

table, td {
  border:1px dotted #6B240C;
  color:#C38154;
  font-family: 'Poppins', sans-serif;
  text-align:center;
}
th{
	border:1px dotted #6B240C;
	color:#9A4444;
	font-family: 'Poppins', sans-serif;
}

h1{
	font-size:60px;
	font-weight:600;
	color:#3A4D39;
	text-align:center;
	font-family: 'Poppins', sans-serif;
}



.form{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}  
button{
	background-color:#739072;
	color: white;
	font-size: 16px;
	cursor: pointer;
	box-sizing: border-box;
	padding: 12px 20px;
  margin: 8px 0;
	width:100%;
}

.social
{
	  text-align:center
}
.footer
{
text-align:center;
color:	#3A4D39;
	font-family: 'Poppins', sans-serif;
}



	
